*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.marca{
  color:#F8970A;
  font-family: 'Neucha', cursive;
  font-size: 30px;
}

.textoIcono{
  font-family: helvetica;
  font-size: 10px;
  text-align: center;
}

.icono{
  text-align: center;
}
header nav.navbar{
  background-color: #14A88D !important;
}
header nav a{
  color: white;
}

div.dropdown-menu{
  padding: 10px;
}

nav.navbar a.navbar-brand img{
  width: 58px;
}

div.navbar-collapse ul.navbar-nav{
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

input{
  font-family: 'Helvetica', fontawesome;
  font-weight: 900;
}

body{
  background-color:#CBE2CA;
}
.contenedorTodo{
  margin:0;
}

nav{
width: 100%;
margin-bottom: 1%;
}

.divAvatar img{
    border-radius: 50%;
    height:6em;
    border-color: 	rgb(153,153,153);
    border-width: medium;
    border-style: solid;

  }

  .divAvatar {
      text-align: center;
      color: white;
    }

    .seccionSaludo{
      text-align: center;
      align-items: center;
      align-content: center;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0%;
      padding-right: 0%;
      color: black;
      width: 100%;
      margin-bottom: 1%;
    }

    .TusContactos{
      width:100%;


    }



    .invitacionesTitulo{
      color:white;
      width:100%;
    }

    .contactosTitulo{
      color:white;
    }
    .fondoAmarillo{
      border: gray solid 1px;
      background-color: white;
    /*no agregar aca padding*/
    }
    .fondoBlanco{

      color: black;

      }

    .fondoGris{
      padding: 1%;
    }
      .fondoGris img{
        border-radius: 50%;
        width: 100%;
        border-color: 	rgb(153,153,153);
        border-width: medium;
        border-style: solid;

      }

      .fondoVerde{
      margin:0;
      /*no agregar aca padding a la derecha*/

      }

      .fondorojo{
      margin:0;
      /*no agregar aca padding a la derecha*/

      }

      .fa-user-times{
        color:red;
      }

      .fa-user-check{
        color:white;
      }

      .paddingArea{


      }

      .paddingCentroA{

      }

      .paddingCentroB{

      }
      .cajaSaludo{

        align-content: center;
        width: 100%;
      }
      h1{
        color:#F8970A;
        text-align: center;
        font-family: 'Asap Condensed', sans-serif !important;
      }

.
