body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(68,68,142,1) 35%, rgba(0,212,255,1) 100%);
}

main div.row div.conocenos{
  background-color: #E2DEDE;
  width: 100%;
  padding: 3%;
  margin-top: 2%;
  border-radius: 10px;
  text-align: center;
}

nav a img{width: 50px;}

.marca{
  font-size: 16px;
  font-family: 'Chilanka', cursive;
  color:green;
}
