/*Desde aca son estilos de la barra de navegacion y de la pagina comunes para todas las paginas.*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header nav a{
  color: green;
}

input{
  font-family: 'Helvetica', fontawesome;
  font-weight: 900;
}


body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(68,68,142,1) 35%, rgba(0,212,255,1) 100%);
}

h2{
  text-align: center;
color: white;
margin-top: 1%;
}

.textoIcono{
  font-family: helvetica;
  font-size: 10px;
  text-align: center;
}

.icono{
  text-align: center;
}

div.dropdown-menu{
  padding: 10px;
}

nav.navbar a.navbar-brand img{
  width: 58px;
}

div.navbar-collapse{
}

div.navbar-collapse ul.navbar-nav{
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

div.navbar-collapse ul.navbar-nav li{
}

header{
  margin-bottom: 2%;
}
.cardTexto{
  text-decoration: none;
  color: black;
  font-style: 'Helvetica',fontawesome;
  font-weight: 400;
  te
}

.cardButton{
  margin-top: 5%;

}
/*Hasta aca son estilos de la barra de navegacion y de la pagina comunes para todas las paginas.*/
