@import url("footer.css");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:#CBE2CA;
}
header nav.navbar{
  background-color: #14A88D !important;
}
span.marca{
  color:#F8970A;
  font-family: 'Neucha', cursive;
  font-size: 30px;
}
a.tipografiaHeader{
  font-family:'Asap Condensed', sans-serif !important;
  font-size: 20px !important;
  color:#CBE2CA  !important;
}
div.dropdown-menu{
  padding: 10px;
}
nav.navbar{
  height: 15vh;
}
h1{
color:#F8970A;
text-align: center;
font-family: 'Asap Condensed', sans-serif !important;
}
h2{
color: #14A88D;
}
h3{

}
main{
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 40px;
}
h5{
  font-size: 30px;
  color:white !important;
  font-family:'Asap Condensed', sans-serif !important;
}
p{
  font-size: 20px;
  color:white !important;
  font-family:'Asap Condensed', sans-serif !important;
}

div.contenedor{
  height: 85vh;
}
div#carouselExampleCaptions{
  width: 100%;
}
nav.navbar a.navbar-brand img{
  width: 58px;
}
div.navbar-collapse ul.navbar-nav{
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
div.carousel-inner{
  display: inline;
  width: 70%
}
a.carousel-control-prev{
  width: 15%;
}
a.carousel-control-next{
  width: 15%;
}

.fotoActividades{
width:70%;
}
.areaCaption{
background-color: rgba(255,255,255,0.5);
}

.carousel-inner{
text-align: center;
align-items: baseline;
margin-top: 2%;
margin-bottom: 2%;
width:50%;
  }
.Login{
width: 280px;
padding:10px;
  }
