*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

  div.navegacion nav.navbar a.navbar-brand img{
      width: 58px;
  }

  div.perfil{
    padding: 20px;
  }

  div.perfil div.row {
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  div.perfil div.row img{
    border-radius: 150px;
    width: 150px;
    border-color: black;
    border-width: medium;
    border-style: solid;
  }

  div.perfil div.row h1{
    height: 100%;
  }
  section div.Descripcion{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
  }

  section div.Descripcion div.caja{
    background-color: #c3c3c3;
    border-radius: 10px;
  }

nav a img{
  width: 50px;
}

.marca{
  font-size: 16px;
  font-family: 'Chilanka', cursive;
  color:green;
}

div#navbarSupportedContent ul{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.texto{
  padding:3%;
}

.textoIcono{
  font-family: helvetica;
  font-size: 10px;
  text-align: center;
}

.icono{
  text-align: center;
}
