*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header nav a{
  color: green;
}

input{
  font-family: 'Helvetica', fontawesome;
  font-weight: 900;
}

.fondoFormulario{
  background-color: #E2DEDE;
  width: 100%;
  padding: 3%;
  margin-top: 2%;
  border-radius: 10px;
    }

body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(68,68,142,1) 35%, rgba(0,212,255,1) 100%);
}

h2{
  text-align: center;
color: white;
margin-top: 1%;
}

.media{
  background-color: white;
  color:black;
  padding-top: 1%;
  padding-bottom: 1%;
}

h5{
  color: rgba(2,0,36,1);
}

.fondoRojo{

}

.fondoVerde{
margin:0;
padding-left: 2%;
}

.fondoAmarillo{
  border: gray solid 1px;
  background-color: white;
}

.fondoGris{
  background-color: white;
}

.fondoBlanco{
  background-color: white;
  color: black;
  }

img{
  width:100%;
}

.invitacionesTitulo{
  color:white;
  /*display: none;*/
}

.contactosTitulo{
  color:white;
    /*display: none;*/
}

.tituloSeccion{
  color:white;
}

.hombre{
}

nav a img{
  width: 50px;
}

.marca{
  font-size: 16px;
  font-family: 'Chilanka', cursive;
  color:green;
}

.SeccionSuperior{
  background-color: white;
  border-radius: 10px;
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  color:black;
}

.fa-user-check{
  color:green;
}

.saludo{
  color: black;
}

.TusContactos{
  background-color: white;
}

.TusInvitaciones{
    background-color: white;
  }

a{
  text-decoration: none;
}

.fa-user-times{
  color:red;
}

div.dropdown-menu{
  padding: 10px;
}

nav.navbar a.navbar-brand img{
  width: 58px;
}

div.navbar-collapse{
}

div.navbar-collapse ul.navbar-nav{
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

div.navbar-collapse ul.navbar-nav li{
}

.formularioLogin{
}

.Login{
  width: 280px;
  padding:10px;
}

.areaLogin{
}

.colorAzul{
  color:#007bff;
}

.textoIcono{
  font-family: helvetica;
  font-size: 10px;
  text-align: center;
}

.icono{
  text-align: center;
}

.columnaTodo{
padding-right:3%;
padding-left: 3%;
}

.fotoPerfil{
  border-radius: 150px;
  width: 150px;
  border-color: black;
  border-width: medium;
  border-style: solid;
}

.seccionSaludo{
  text-align: center;
  margin-top: 2%;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 3%;
  padding-right:3%;
  padding-top:1%;
  padding-bottom:1%;
  color: black;
}

.filaSaludo{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.fotoInv{
  padding:3%;
  align-self:center;

}

/*@media only screen and (max-width: 600px) {
  .invitacionesTitulo{
    display: block;
    color:white;
  }*/
